/* ------------ common css start ------------ */
* {
  margin: 0;
  padding: 0; }

ol,
li {
  list-style: none; }

a,
a:hover,
a:focus {
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #222222; }

p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #222222;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  color: #222222;
  margin: 0; }

body {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  color: #222222;
  background: #f2f2f2; }

/* ------------ common css end ------------ */
/* ------------ header part css start ------------ */
#header_part {
  background: #e6e6e6; }
  #header_part .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header_part .header_content .hdr_btn {
      font-size: 16px;
      font-weight: 500;
      color: #2d3e50;
      padding: 10px 16px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #header_part .header_content .hdr_btn:hover {
        color: #ffffff;
        background: #fbaa33; }
    #header_part .header_content .language {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #header_part .header_content .language .custom_form {
        -ms-flex-item-align: center;
            align-self: center; }
        #header_part .header_content .language .custom_form .form-select {
          height: 30px;
          padding-top: 0;
          padding-bottom: 0; }
        #header_part .header_content .language .custom_form select {
          font-family: "Arimo", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          color: #222222;
          padding: 2px 30px 2px 10px;
          padding-bottom: 1px;
          border: 1px solid #222222;
          border-radius: 5px; }
          #header_part .header_content .language .custom_form select:focus {
            outline: 0;
            -webkit-box-shadow: none;
                    box-shadow: none; }
      #header_part .header_content .language p {
        padding: 10px; }
        #header_part .header_content .language p a {
          font-weight: 500;
          -webkit-transition: linear 0.4s;
          transition: linear 0.4s; }
          #header_part .header_content .language p a:hover {
            color: #fbaa33; }

/* ------------ header part css end ------------ */
/* ------------ banner part css start ------------ */
#banner_part {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d3e50), color-stop(80%, #5c7ea3));
  background: linear-gradient(to bottom, #2d3e50, #5c7ea3 80%);
  text-align: center;
  padding: 20px 0; }
  #banner_part .banner_content .img img {
    width: 90%;
    height: 100%; }

/* ------------ banner part css end ------------ */
/* ------------ navbar part css start ------------ */
#navbar {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d3e50), color-stop(70%, #5c7ea3));
  background: linear-gradient(to bottom, #2d3e50, #5c7ea3 70%);
  padding: 0; }
  #navbar ul li a {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 3px 12px;
    padding-right: 20px;
    text-transform: uppercase;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s;
    position: relative; }
    #navbar ul li a::after {
      position: absolute;
      top: 50%;
      right: 4px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #ffffff;
      border-top: 0.4em solid;
      border-right: 0.4em solid transparent;
      border-left: 0.4em solid transparent;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
    #navbar ul li a:hover {
      background: #fbaa33; }
    #navbar ul li a span {
      display: block;
      font-size: 11px; }
  #navbar ul li a.show {
    background: #fbaa33; }
    #navbar ul li a.show::after {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg); }
  #navbar ul li ul {
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#2d3e50), color-stop(70%, #5c7ea3));
    background: linear-gradient(to bottom, #2d3e50, #5c7ea3 70%);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    min-width: 130px;
    border: none;
    border-radius: 0; }
    #navbar ul li ul li a {
      font-size: 14px;
      padding: 8px; }
      #navbar ul li ul li a:focus {
        background-color: #fbaa33; }

/* ------------ navbar part css end ------------ */
/* ------------ searchbar part css start ------------ */
#searchbar_part {
  background: #e6e6e6;
  padding: 8px 0; }
  #searchbar_part .searchbar_content .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #searchbar_part .searchbar_content .newsletter .mb-3 {
      margin-bottom: 0 !important; }
    #searchbar_part .searchbar_content .newsletter .input-group {
      border: 1px solid #999999; }
      #searchbar_part .searchbar_content .newsletter .input-group span {
        padding: 0 7px;
        border: none; }
        #searchbar_part .searchbar_content .newsletter .input-group span i {
          font-size: 30px;
          color: #2d3e50; }
      #searchbar_part .searchbar_content .newsletter .input-group input[type="email"] {
        font-size: 14px;
        font-weight: 500;
        color: #222222;
        padding: 4px 8px;
        border-color: transparent; }
        #searchbar_part .searchbar_content .newsletter .input-group input[type="email"]::-webkit-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .newsletter .input-group input[type="email"]:-ms-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .newsletter .input-group input[type="email"]::-ms-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .newsletter .input-group input[type="email"]::placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .newsletter .input-group input[type="email"]:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none; }
    #searchbar_part .searchbar_content .newsletter .letter_btn button {
      display: inline-block;
      height: 100%;
      font-size: 14px;
      color: #ffffff;
      background: #2d3e50;
      padding: 2px 4px;
      margin-left: 5px;
      border: 1px solid #999999;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #searchbar_part .searchbar_content .newsletter .letter_btn button:hover {
        background: #fbaa33; }
  #searchbar_part .searchbar_content .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
    #searchbar_part .searchbar_content .product .product_in {
      width: 30%;
      -ms-flex-item-align: center;
          align-self: center; }
    #searchbar_part .searchbar_content .product .custom_form {
      width: 70%;
      -ms-flex-item-align: center;
          align-self: center; }
      #searchbar_part .searchbar_content .product .custom_form .form-select {
        height: 30px;
        padding-top: 0;
        padding-bottom: 0; }
      #searchbar_part .searchbar_content .product .custom_form select {
        font-family: "Arimo", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        color: #222222;
        padding: 2px 30px 2px 10px;
        padding-bottom: 1px;
        border: 1px solid #999999;
        border-radius: 0; }
        #searchbar_part .searchbar_content .product .custom_form select:focus {
          outline: 0;
          -webkit-box-shadow: none;
                  box-shadow: none; }
  #searchbar_part .searchbar_content .social_icons {
    text-align: center; }
    #searchbar_part .searchbar_content .social_icons a i {
      height: 32px;
      width: 32px;
      line-height: 32px;
      background: #2d3e50;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      margin-right: 5px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #searchbar_part .searchbar_content .social_icons a i:hover {
        background: #fbaa33; }
  #searchbar_part .searchbar_content .search_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #searchbar_part .searchbar_content .search_box .mb-3 {
      margin-bottom: 0 !important; }
    #searchbar_part .searchbar_content .search_box .input-group {
      border: 1px solid #999999; }
      #searchbar_part .searchbar_content .search_box .input-group input[type="search"] {
        font-size: 14px;
        font-weight: 500;
        color: #222222;
        padding: 4px 8px;
        border-color: transparent; }
        #searchbar_part .searchbar_content .search_box .input-group input[type="search"]::-webkit-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .search_box .input-group input[type="search"]:-ms-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .search_box .input-group input[type="search"]::-ms-input-placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .search_box .input-group input[type="search"]::placeholder {
          color: #777777; }
        #searchbar_part .searchbar_content .search_box .input-group input[type="search"]:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none; }
    #searchbar_part .searchbar_content .search_box .search_btn button {
      display: inline-block;
      background: #2d3e50;
      margin-left: 5px;
      border: 1px solid #999999; }
      #searchbar_part .searchbar_content .search_box .search_btn button i {
        height: 32px;
        width: 50px;
        line-height: 32px;
        background: #2d3e50;
        color: #ffffff;
        font-size: 20px;
        text-align: center; }

/* ------------ searchbar part css end ------------ */
/* ------------ main_content part css start ------------ */
#main_content .content_wrapper .row [class|="col"] {
  margin-bottom: 25px; }
#main_content .content_wrapper h3 {
  font-size: 32px;
  color: #222222;
  text-align: center;
  margin: 16px 0; }
  #main_content .content_wrapper h3 a {
    font-weight: 700;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s; }
    #main_content .content_wrapper h3 a:hover {
      color: #fbaa33; }
#main_content .content_wrapper .recharge {
  background: #e6e6e6;
  padding: 20px 10px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.75); }
  #main_content .content_wrapper .recharge h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px; }
  #main_content .content_wrapper .recharge .recharge_img {
    width: 100%;
    height: auto; }
    #main_content .content_wrapper .recharge .recharge_img img {
      width: 100%;
      height: 100%; }
#main_content .content_wrapper .pagination_box {
  text-align: center;
  margin-top: 16px; }
  #main_content .content_wrapper .pagination_box nav {
    display: inline-block; }
  #main_content .content_wrapper .pagination_box ul li {
    margin-right: 10px; }
    #main_content .content_wrapper .pagination_box ul li:first-child .page-link {
      padding: 5px 25px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    #main_content .content_wrapper .pagination_box ul li:last-child .page-link {
      padding: 5px 25px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    #main_content .content_wrapper .pagination_box ul li a {
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      background-color: #2d3e50;
      padding: 5px 15px;
      border: 1px solid #999999;
      -webkit-box-shadow: 0 0 4px 0 transparent;
              box-shadow: 0 0 4px 0 transparent;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #main_content .content_wrapper .pagination_box ul li a:hover {
        background: #fbaa33;
        -webkit-box-shadow: 0 0 4px 0 #000000;
                box-shadow: 0 0 4px 0 #000000; }
      #main_content .content_wrapper .pagination_box ul li a:focus {
        background: #fbaa33;
        -webkit-box-shadow: transparent;
                box-shadow: transparent; }
#main_content .shop_cart {
  background: -webkit-gradient(linear, left bottom, left top, from(#2d3e50), color-stop(80%, #5c7ea3));
  background: linear-gradient(to top, #2d3e50, #5c7ea3 80%);
  padding: 22px 16px;
  border-radius: 3px;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }
  #main_content .shop_cart .cart_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #999; }
    #main_content .shop_cart .cart_text .cart_icon {
      width: 12%; }
      #main_content .shop_cart .cart_text .cart_icon i {
        font-size: 24px; }
    #main_content .shop_cart .cart_text .cart_header {
      width: 88%; }
      #main_content .shop_cart .cart_text .cart_header h3 {
        font-size: 22px;
        color: #ffffff; }
  #main_content .shop_cart .cart_box {
    margin-top: 10px;
    padding: 16px 10px;
    -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
            box-shadow: inset 0px 0px 10px 0px #000000; }
    #main_content .shop_cart .cart_box .box_details p {
      font-size: 14px;
      color: #fff;
      width: 70%;
      margin: 0 auto;
      padding-bottom: 10px;
      text-align: center; }
    #main_content .shop_cart .cart_box ul {
      margin-bottom: 0;
      padding-left: 0; }
      #main_content .shop_cart .cart_box ul li {
        margin-bottom: 10px; }
        #main_content .shop_cart .cart_box ul li:last-child {
          margin-bottom: 0; }
        #main_content .shop_cart .cart_box ul li .box_item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 14px; }
          #main_content .shop_cart .cart_box ul li .box_item .item_rect {
            padding: 20px;
            border: 1px solid #999; }
          #main_content .shop_cart .cart_box ul li .box_item .item_remo p {
            color: #fbaa33;
            cursor: pointer; }
  #main_content .shop_cart .shop_cart_item {
    margin: 10px 0; }
    #main_content .shop_cart .shop_cart_item ul {
      margin-bottom: 0;
      padding-left: 0; }
      #main_content .shop_cart .shop_cart_item ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 15px;
        margin-bottom: 5px;
        position: relative; }
        #main_content .shop_cart .shop_cart_item ul li:last-child {
          margin-bottom: 0; }
        #main_content .shop_cart .shop_cart_item ul li .item_intro {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          #main_content .shop_cart .shop_cart_item ul li .item_intro .final_total {
            font-size: 22px;
            font-weight: 700; }
  #main_content .shop_cart .shop_cart_btn {
    text-align: center;
    margin-top: 16px; }
    #main_content .shop_cart .shop_cart_btn .Empty_btn {
      margin-right: 16px; }
    #main_content .shop_cart .shop_cart_btn button {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      background: #405872;
      padding: 6px 12px;
      border: none;
      border-radius: 3px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #main_content .shop_cart .shop_cart_btn button:focus {
        outline: none; }
      #main_content .shop_cart .shop_cart_btn button:hover {
        background: #fbaa33; }
#main_content .payment {
  padding: 22px 16px;
  margin: 33px 0;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }
  #main_content .payment h3 {
    font-size: 22px;
    color: #222222;
    text-transform: capitalize;
    margin-left: 5px; }
  #main_content .payment .payment_img {
    width: 100%;
    height: auto;
    margin: 10px 0; }
    #main_content .payment .payment_img img {
      width: 100%;
      height: 100%; }
  #main_content .payment .payment_input label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize; }
  #main_content .payment .payment_input input[type="number"] {
    width: 100%;
    padding: 2px 0 2px 10px;
    margin: 5px 0;
    border: 1px solid #999999;
    border-radius: 3px;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s; }
    #main_content .payment .payment_input input[type="number"]::-webkit-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .payment .payment_input input[type="number"]:-ms-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .payment .payment_input input[type="number"]::-ms-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .payment .payment_input input[type="number"]::placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .payment .payment_input input[type="number"]:hover {
      border: 1px solid #222222; }
    #main_content .payment .payment_input input[type="number"]:focus {
      border: 1px solid #222222;
      border-radius: 3px; }
  #main_content .payment .payment_input .payment_btn {
    margin-top: 10px; }
    #main_content .payment .payment_input .payment_btn button {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      background: #405872;
      padding: 6px 12px;
      border: none;
      border-radius: 3px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #main_content .payment .payment_input .payment_btn button:focus {
        outline: none; }
      #main_content .payment .payment_input .payment_btn button:hover {
        background: #fbaa33; }
#main_content .subscribe {
  padding: 22px 16px;
  margin: 33px 0;
  margin-top: 0;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }
  #main_content .subscribe h3 {
    font-size: 22px; }
  #main_content .subscribe .subs_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 0; }
    #main_content .subscribe .subs_item .subs_img {
      width: 20%;
      height: auto; }
      #main_content .subscribe .subs_item .subs_img img {
        width: 100%;
        height: 100%; }
    #main_content .subscribe .subs_item .item_details {
      width: 75%;
      -ms-flex-item-align: center;
          align-self: center; }
      #main_content .subscribe .subs_item .item_details p {
        font-size: 14px; }
      #main_content .subscribe .subs_item .item_details .youtube_icon {
        margin-top: 5px; }
        #main_content .subscribe .subs_item .item_details .youtube_icon a {
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          background: #2d3e50;
          border: 1px solid #999999;
          border-right: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          padding: 5px 8px 8px 40px;
          -webkit-transition: linear 0.4s;
          transition: linear 0.4s;
          position: relative; }
          #main_content .subscribe .subs_item .item_details .youtube_icon a i {
            position: absolute;
            top: 46%;
            left: 8px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            font-size: 25px; }
          #main_content .subscribe .subs_item .item_details .youtube_icon a:hover {
            background: #fbaa33; }
        #main_content .subscribe .subs_item .item_details .youtube_icon span {
          display: inline-block;
          font-size: 14px;
          padding: 3px 8px 5px 8px;
          border: 1px solid #999999;
          border-left: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          background: #f2f2f2; }
  #main_content .subscribe .client h3 {
    font-size: 22px; }
    #main_content .subscribe .client h3 span {
      font-size: 26px;
      color: #777777; }
#main_content .newsletter {
  padding: 22px 16px;
  margin: 33px 0;
  margin-top: 0;
  border-radius: 3px;
  color: #ffffff;
  background: #2d3e50;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }
  #main_content .newsletter h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px; }
  #main_content .newsletter label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize; }
  #main_content .newsletter input[type="text"],
  #main_content .newsletter input[type="email"],
  #main_content .newsletter textarea {
    width: 100%;
    padding: 2px 0 2px 10px;
    margin: 5px 0;
    border: 1px solid #999999;
    border-radius: 3px;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s; }
    #main_content .newsletter input[type="text"]::-webkit-input-placeholder,
    #main_content .newsletter input[type="email"]::-webkit-input-placeholder,
    #main_content .newsletter textarea::-webkit-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .newsletter input[type="text"]:-ms-input-placeholder,
    #main_content .newsletter input[type="email"]:-ms-input-placeholder,
    #main_content .newsletter textarea:-ms-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .newsletter input[type="text"]::-ms-input-placeholder,
    #main_content .newsletter input[type="email"]::-ms-input-placeholder,
    #main_content .newsletter textarea::-ms-input-placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .newsletter input[type="text"]::placeholder,
    #main_content .newsletter input[type="email"]::placeholder,
    #main_content .newsletter textarea::placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #777777; }
    #main_content .newsletter input[type="text"]:hover,
    #main_content .newsletter input[type="email"]:hover,
    #main_content .newsletter textarea:hover {
      border: 1px solid #fbaa33; }
    #main_content .newsletter input[type="text"]:focus,
    #main_content .newsletter input[type="email"]:focus,
    #main_content .newsletter textarea:focus {
      border: 1px solid #fbaa33;
      border-radius: 3px;
      outline: 0; }
  #main_content .newsletter textarea {
    width: 100%;
    max-height: 150px;
    resize: vertical; }
  #main_content .newsletter .newsletter_btn {
    margin-top: 10px;
    text-align: center; }
    #main_content .newsletter .newsletter_btn button {
      display: inline-block;
      width: 60%;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      background: #405872;
      padding: 6px 12px;
      border: none;
      border-radius: 3px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #main_content .newsletter .newsletter_btn button:focus {
        outline: none; }
      #main_content .newsletter .newsletter_btn button:hover {
        background: #fbaa33; }
#main_content .our_partner {
  padding: 22px 16px;
  margin-bottom: 33px;
  background: #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75); }
  #main_content .our_partner h3 {
    font-size: 22px; }
  #main_content .our_partner ul {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0; }
    #main_content .our_partner ul li {
      margin-bottom: 10px; }
      #main_content .our_partner ul li:last-child {
        margin-bottom: 0; }
      #main_content .our_partner ul li i {
        font-size: 18px;
        color: #2d3e50;
        margin-right: 10px; }
      #main_content .our_partner ul li a {
        font-size: 16px;
        font-weight: 500;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
        #main_content .our_partner ul li a:hover {
          color: #fbaa33; }

/* ------------ main_content part css end ------------ */
/* ------------ to bottom css start ------------ */
.to_top {
  visibility: hidden; }
  .to_top a i {
    font-size: 20px;
    color: #ffffff;
    background: #2d3e50;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s; }
    .to_top a i:hover {
      background: #fbaa33; }

.fixed_to_top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  visibility: visible; }

/* ------------ to bottom css end ------------ */
/* ------------footer part css start ------------ */
#footer_part {
  background: #222222;
  padding-top: 16px; }
  #footer_part .footer_content h4 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center; }
  #footer_part .footer_content ul {
    margin-bottom: 0;
    padding-left: 0; }
    #footer_part .footer_content ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #ffffff;
      margin-bottom: 16px; }
      #footer_part .footer_content ul li:last-child {
        margin-bottom: 0; }
      #footer_part .footer_content ul li .icon {
        width: 20%;
        -ms-flex-item-align: center;
            align-self: center; }
        #footer_part .footer_content ul li .icon i {
          font-size: 18px;
          width: 35px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          background: #2d3e50;
          margin-right: 10px; }
      #footer_part .footer_content ul li .details {
        width: 80%;
        -ms-flex-item-align: center;
            align-self: center; }
        #footer_part .footer_content ul li .details p {
          font-size: 14px;
          font-weight: 500;
          color: #ffffff; }
      #footer_part .footer_content ul li .without_icon {
        width: 100%;
        text-align: center; }
  #footer_part .copyright {
    text-align: center;
    border-top: 1px solid rgba(153, 153, 153, 0.8);
    padding: 10px 0;
    margin-top: 22px; }
    #footer_part .copyright p {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff; }
      #footer_part .copyright p span {
        display: block; }
        #footer_part .copyright p span span {
          display: inline-block;
          font-size: 16px;
          color: #fbaa33; }

/* ------------footer part css end ------------ */
/*# sourceMappingURL=dollar.css.map */